.content-section{ 
  position: relative;
  margin-top: 2rem;

  background-color: $bg-content-section;
  box-shadow: $bs-dark-lg;
  
  @mixin atLarge{
    margin-top: 10rem;
  }

  &__heading{
    position: sticky;
    top: 0;
    z-index: 5;
    
    width: 100%;
    height: 7rem;
    padding-left: 2rem;
    padding-top: 1.6rem;
    background-image: linear-gradient($color-secondary-light, $color-secondary);
    
    @mixin atSmall{
      clip-path: polygon(0 0, 100% 0, 0 100%);
      height: 9rem;
    }

    @mixin atLarge{
      clip-path: polygon(0 0, 90% 0, 0 100%);
      height: 20rem;
      padding-top: 5rem;
      padding-left: 10rem;
    }
  }

  &__title{
    color: $color-primary;
    font-size: 3rem;
    
    @mixin atLarge{
      font-size: 6rem;
    }
  }

  &__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
    padding: 1rem;

    @mixin atLarge{
      padding: 0 10rem;
    }
  }

  &__panel{
    &--full{
      width: 100%;
    }

    &--half{
      width: 100%;
      @mixin atSmall{
        width: 100%;
      }
      @mixin atMedium{
        width: 50%;
      }
      @mixin atLarge{
        width: 50%;
      }
    }

    &--third{
      width: 100%;
      @mixin atSmall{
        width: 50%;
      }
      @mixin atMedium{
        width: 33.3%;
      }
      @mixin atLarge{
        width: 33.3%;
      }
    }

    &--quarter{
      width: 50%;
      @mixin atSmall{
        width: 50%;
      }
      @mixin atMedium{
        width: 25%;
      }
      @mixin atLarge{
        width: 25%;
      }
    }
  }
}