.header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 100%;
  background-image: linear-gradient(to bottom, $color-secondary, $color-secondary-light);
  box-shadow: $bs-dark-lg;
  
  @mixin atLarge{
    align-items: stretch;
  }

  &__top-bar{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding: 1rem;
    background-color: $color-primary-dark;
    
    @mixin atMedium{
      flex-direction: row;
      padding: 0 10rem;
      height: 112px;
    }
  }

  &__title{
    color: $tc-white;
    font-size: 2rem;
    transition: transform .2s ease-in;
    
    @mixin atMedium{
      margin-right: 10rem;
    }

    &:hover{
      transform: scale(1.04);
    }
  }

}