
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: $font-heading;
  color: $font-dark;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $mainOrange;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}