
h1 {
  font: $text-heading;
}

h2 {
  font: $text-sub-heading;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

p {
  font: $text-body;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

::selection {
  background-color: rgba(0, 247, 255, 0.65);
}