
h1 {
  font: $text-heading;
}

h2 {
  font: $text-sub-heading;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text-light;
}

p {
  font: $text-body;
}

ul {
  list-style-type: none;
}

li {
  font: $text-body;
}

::selection {
  background-color: rgba(0, 247, 255, 0.65);
}