



/*  COLORS  */
$color-primary-light: #e7fef9;
$color-primary: #5e63fe;
$color-primary-dark: #1d1d81;

$color-secondary: #39ffbc;
$color-secondary-light: #ccffd8;

$bg-dark: rgb(7, 7, 7);
$bg-light: rgb(255, 255, 255);

$bg-content-section: rgba($color-primary-light, .5);

/*  TEXT COLORS  */
$tc-section-heading: #4449d6;
$tc-white: #f5feff;
$tc-body-light: rgb(232, 226, 255);
$tc-body-dark: rgb(13, 7, 36);

/*  TEXT SHADOWS  */
$ts-dark: 1px 1px 2px $bg-dark;
$ts-light: 1px 1px 2px $bg-light;

/*  BOX SHADOWS  */
$s-dark: rgba(7, 7, 7, 0.3);
$s-light: rgba(255, 255, 255, 0.2);

$bs-dark-lg: 0 0 3rem 0 $s-dark;
$bs-dark-sm: 0 0 1rem 0 $s-dark;
$bs-light-lg: 0 0 3rem 0 $s-light;
$bs-light-sm: 0 0 1rem 0 $s-light;

/*  FONT STYLES  */
$text-heading: 2.8rem/1.1 'Lato', sans-serif;
$text-sub-heading: 2.2rem/1.1 'Lato', sans-serif;
$text-body: 1.8rem/1.1 'Lato', sans-serif;

/*  MISC VARIABLES  */
$indent: 2rem;
$transition: all .2s ease-in;