
/*  COLORS  */
$color-primary-light: #e4dcc5;
$color-primary: #d6c9a4;
$color-primary-dark: #b0a587;

$bg-dark: #23211b;
$bg-light: #ededed;

$text-dark: #3b372d;
$text-light: #f3f0e6;

/*  TEXT SHADOWS  */
$ts-dark: 1px 1px 2px $bg-dark;
$ts-light: 1px 1px 2px $bg-light;

/*  BOX SHADOWS  */
$bs-dark-lg: 0 0 3rem 0 $bg-dark;
$bs-dark-sm: 0 0 1rem 0 $bg-dark;
$bs-light-lg: 0 0 3rem 0 $bg-light;
$bs-light-sm: 0 0 1rem 0 $bg-light;

/*  FONT STYLES  */
$text-heading: 2.8rem/1.1 'Lato', sans-serif;
$text-sub-heading: 2.2rem/1.1 'Lato', sans-serif;
$text-body: 1.6rem/1.1 'Lato', sans-serif;

/*  MISC VARIABLES  */
$indent: 2rem;
$transition: all .2s ease-in;