@keyframes toTopBtn{
  0% {
    background-color: $color-secondary;
  }
  50% {
    background-color: $color-secondary-light;
  }
  100% {
    background-color: $color-secondary;
  }
}

@keyframes pop{
  0%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}