.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;

  &__img {
    width: 30rem;
    box-shadow: $shadow-dark-sm;

    @mixin atSmall {
      width: 40rem;
    }

    @mixin atMedium {
      width: 55rem;
      margin-top: 2rem;
    }

    @mixin atLarge {
      width: 70rem;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem;

    @mixin atSmall {
      width: 90%;
    }

    @mixin atMedium {
      width: 75rem;
      margin: 2rem auto;
    }
  }

  &__heading {
    margin-bottom: 1rem;
  }

  &__text {
    text-indent: $indent;
  }
}