.about-us {

  &__composition{
    position: relative;
    height: 52rem;
    
    @mixin atSmall{
      height: 62rem;
    }

    @mixin atLarge{
      margin-top: 2rem;
      height: 66rem;
    }
  }

  &__composition-img-box{
    position: absolute;
    outline: 8px solid $color-primary-dark;
    
    padding: 8px;
    width: 30rem;
    height: 30rem; 
    z-index: 1;
    transition: all .2s ease-in;

    @mixin atSmall{
      height: 40rem;
      width: 40rem;
    }

    &--1{
      top: 0;
      left: 50%;
      transform: translate(-50%, 0) scale(1);

      &:hover{
        z-index: 2;
        transform: translate(-50%, 0) scale(1.1);
      }

      @mixin atMedium{
        z-index: 2;
        transform: translate(-50%, 0) scale(1.1);

        &:hover{
          transform: translate(-50%, 0) scale(1.3);
        }
      }

      @mixin atLarge{
        transform: translate(-50%, 4rem) scale(1.3);

        &:hover{
          transform: translate(-50%, 4rem) scale(1.5);
        }
      }
    }

    &--2{
      top: 11rem;

      &:hover{
        z-index: 2;
        transform: scale(1.1);
      }

      @mixin atMedium{
        top: 14rem;
        left: 2rem;
      }

      @mixin atLarge{
        transform: scale(1.2);

        &:hover{
          transform: scale(1.3);
        }
      }
    }

    &--3{
      top: 20rem;
      right: 0;

      &:hover{
        z-index: 2;
        transform: scale(1.1);
      }

      @mixin atMedium{
        top: 14rem;
        right: 2rem;
      }

      @mixin atLarge{
        transform: scale(1.2);

        &:hover{
          transform: scale(1.3);
        }
      }
    }
  }

  &__composition-img{
    background-color: $color-primary-light;
    padding: 5px;
    height: 100%;
    width: 100%;
  }

  &__caption{
    width: max-content;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
    color: $color-secondary;
    background-color: $color-primary;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
  }

  &__text-box{
    background-color: $color-primary-dark;
    padding: 1rem;
    box-shadow: $bs-dark-sm;
  }

  &__sub-heading{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.8rem;
    color: $color-secondary;
  }

  &__body-text{
    color: $tc-white;
    
  }
}