.contact {
  margin: 0 auto;
  width: 96%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  box-shadow: $bs-dark-sm;

  &__img-box{
    display: flex;
    overflow: hidden;

    height: 18rem;
    width: 18rem;
    margin: 0 auto;
    border-radius: 30rem;
  }

  &__img{
    padding: 4rem;
    background-color: $color-primary-dark;
    fill: $color-primary-light;
  }

  &__text-box{
    margin-top: 2rem;
    text-align: center;
    
  }
  
  &__cta{
    display: block;
    margin: 1rem auto;

    width: 100%;
    padding: 1rem;
    background-color: $color-secondary;
    border-radius: 3px;
    font-size: 1.8rem;
    line-height: 1.4;
  }

  &__address{
    display: block;
    margin: 0 auto;
    padding: 1rem;
    width: max-content;
    border-radius: 10rem;
    background-color: $color-primary-dark;
    color: $color-secondary;
    font-size: 2.4rem;

    @mixin atSmall {
      padding: 1rem 1.5rem;
      font-size: 1.7rem;
    }

    @mixin atMedium {
      padding: 1rem 3rem;
      font-size: 2rem;
    }
  }
}