.contact {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @mixin atMedium {
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    margin-top: 1rem;
    padding: 2rem;
    background-color: $font-color-dark;
    box-shadow: $shadow-dark-sm;
    color: $font-color-light;

    @mixin atSmall {
      width: 34rem;
    }
  }

  &__heading {
    text-align: center;
    font-size: 2.8rem;
  }

  &__sub-heading {
    margin: 2rem 0 1rem;
    text-decoration: underline;
  }

  &__location {
    text-align: center;
  }

  &__phone {
    margin-top: 1rem;
    font-size: 2.4rem;
  }

  &__hours-list {
    margin-left: 1rem;
  }

  &__hours {
    margin-bottom: .6rem;
  }

  &__map-box {
    height: 21rem;
    width: 28rem;
    margin: 2rem 0;
    box-shadow: $shadow-dark-sm;

    @mixin atSmall {
      height: 30rem;
      width: 40rem;
    }

    @mixin atLarge {
      height: 45rem;
      width: 60rem;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
  }
}