.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-top: 10px solid $color-primary-dark;

  @mixin atSmall {
    justify-content: space-around;
  }

  &__icons {
  }

  &__social-link {

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__social-icon {
    width: 4rem;
    height: 4rem;
    fill: $font-color-dark;

    transition: $transition-default;

    &:hover {
      transform: translateY(-.6rem);
      fill: $color-primary-dark;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    text-align: center;
  }

  
}

.developer {
  color: inherit;
  font-family: 'handlee', sans-serif;
  font-size: 1.4rem;

  &:hover {
    color: green;
  }
}