.header {
  padding-bottom: 1rem;
  border-bottom: 10px solid $color-primary-dark;

  &__title {
    padding: 2rem;
    background-color: $color-dark;
    color: $font-color-light;
    text-align: center;
    letter-spacing: 2px;

    span {
      font-size: 4.5rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }

  &__nav-list {
    display: flex;
    padding: 1rem;
  }

  &__nav-item {
    
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__nav-link {
    padding: 2px 12px;
    color: $font-color-dark;

    transition: $transition-default;

    &:hover {
      background-color: $color-primary-dark;
      color: $color-primary;
    }

    &--active {
      border-bottom: 2px solid $font-color-dark;
    }
  }
}