.hero{
   
  &__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 10px;

    padding: 10px;
    
    @mixin atMedium{
      grid-template-columns: repeat(3, 1fr) ;
    }
  }

  &__item{

    grid-column: span 1;

    &--padded{ 
      grid-column: span 2;
      padding: 3rem;

      @mixin atSmall{
        margin: 0 auto;
        height: 30rem;
        width: 30rem;
        padding: 5px;
      }

      @mixin atMedium{
        grid-column: span 1;

        height: inherit;
        width: inherit;
        padding: 3rem;
      }
    }
  }

  &__img {
    display: flex;
  }
}