.pic-gallery{
  width: 100%;

  &__feature-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    align-items: center;

    width: 100vw;
    height: 100vh;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.95);

    &--active{
      display: flex;
    }

  }

  &__close{
    position: absolute;
    z-index: 11;
    top: 2rem;
    right: 2rem;

    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    @mixin atMedium{
      right: 4rem;
    }

    &:hover{
      background-color: #fff;
    }

    &::before, &::after{
      position: absolute;
      z-index: 11;
      top: 50%;
      left: 50%;
      content: "";

      height: 3px;
      width: 2.5rem;
      background-color: rgb(0, 0, 0);

    }
    &::before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__feature-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    height: 5rem;
    width: 5rem;
    background-color: #fff;
    cursor: pointer;

    @mixin atMedium{
      background-color: rgba(255, 255, 255, 0.5);

      &:hover{
        background-color: #fff;
      }
    }

    &--left{
      left: 1rem;
      clip-path: polygon(0 50%, 100% 0, 45% 50%, 100% 100%);

      @mixin atSmall {
        left: 2rem;
      }
      @mixin atMedium {
        left: 5rem;
      }
    }

    &--right{
      right: 1rem;
      clip-path: polygon(0 0, 100% 50%, 0 100%, 55% 50%);

      @mixin atSmall {
        right: 2rem;
      }
      @mixin atMedium {
        right: 5rem;
      }
    }
  }

  &__btn{
    position: absolute;
    top: 40%;
    width: 4rem;
    height: 4rem;
    background-color: $color-secondary;

    display: none;

    &--left{
      left: 10%;
    }

    &--right{
      right: 10%;
    }
  }

  &__feature-img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: min-content;
    
    @mixin atMedium{
      width: auto;
    }
  }

  &__grid-container{
    margin: -1rem;
    width: auto;

    background-color: rgba(0, 0, 0, 0.5);

    @mixin atSmall{
      margin-top: -10rem;
      padding-top: 6rem;
    }
    @mixin atLarge{
      margin-top: -17.9rem;
      margin-bottom: 0;
      margin-left: -10rem;
      margin-right: -10rem;

      padding-top: 12rem;
      padding-bottom: 1.5rem;
    }
  }

  &__grid{
    /* overflow-x: scroll; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1rem;
    justify-content: center;
    justify-items: center;
    
    width: 100%;
    padding: 1rem;

    @mixin atSmall{
      grid-template-columns: repeat(6, 1fr);
    }
    @mixin atMedium{
      grid-template-columns: repeat(7, 1fr);
    }
    @mixin atLarge{
      grid-template-columns: repeat(6, 1fr);
      grid-row-gap: 2rem;
    }
  }

  &__item{
    display: flex;
    overflow: hidden;
    height: 20vw;
    width: 20vw;
    box-shadow: $bs-dark-sm;
    transition: all .2s ease-in;
    cursor: pointer; 

    &:hover{
      transform: scale(1.05);
      box-shadow: $bs-dark-lg;
    }

    @mixin atSmall{
      height: 13.5vw;
      width: 13.5vw;
    }
    @mixin atMedium{
      height: 11.5vw;
      width: 11.5vw;
    }
    @mixin atLarge{
      height: 20.5rem;
      width: 20.5rem;
    }

    &--active{
      filter:brightness(105%)
    }
  }

  &__thumb{
    width: 100%;
    height: auto;
  }
}