.seadek{ 
  clip-path: polygon( 0 0, 90% 0, 100% 6rem, 100% 100%, 0 100%);
  box-shadow: $bs-dark-sm;
  
  &:not(:last-child){
    margin-bottom: 2rem;
  }

  @mixin atLarge {
    margin-top: 6rem;
  }

  &__header{
    background-color: $color-primary-dark;
    padding: 1rem;
  }

  &__sub-heading{
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    color: $color-primary-light;
  }

  &__body{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: $color-primary-light;
    padding: 3rem;
  }

  &__desc{
    width: 100%;
    padding-bottom: 2rem;
    padding-right: 1rem;
  }

  &__link{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
    background-color: $color-secondary;
  }

  &__option{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;

    @mixin atMedium{
      width: 50%;
    }

    &:not(:last-child){
      margin-bottom: 1rem;
    }
  }

  &__text{
    display: flex;

    font-size: 2rem;
    width: 65%;
    text-transform: capitalize;
    color: $color-primary-dark;

    @mixin atSmall{
      width: 50%;
    }
    
    &--alternate{
      text-transform: none;
      color: $color-primary-dark;
    }
  }

  &__img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    height: 7rem;
    width: 7rem;
    border-radius: 3px;
    background-color: black;
    box-shadow: $bs-dark-sm;

    &:not(:last-child){
      margin-right: 1rem;
    }

    @mixin atSmall{
      height: 8rem;
      width: 8rem;
    }

    &--alternate{
      
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-top: 1rem;

      height: 16rem;
      width: 20rem;
      border-radius: 3px;
      background-color: black;
      box-shadow: $bs-dark-sm;
      
      &:not(:last-child){
        margin-right: 2rem;
      }
    }

    &--alternate-long{
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-right: 1rem;

      height: 10rem;
      width: 24rem;
      border-radius: 3px;
      background-color: black;
      box-shadow: $bs-dark-sm;
    }
  }

  &__img{
    display: flex;
    width: 225%;
    height: auto;

    &--alternate{
      display: flex;
      width: 100%;
      height: auto;
    }

    &--alternate-long{
      display: flex;
      width: 105%;
      height: auto;
    }
  }
}