.seadek-gallery{
  display: block;
  width: 100%;
  position: relative;

  &__arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    height: 60%;
    width: 2rem;
    background-color: $color-primary-light;
    cursor: pointer;

    animation-name: pop;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
    &--left{
      left: 0;
      clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }

    &--right{
      right: 0;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }
  
  &__viewport{
    position: relative;
    overflow: scroll;
    width: 85%;
    margin: 0 auto;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    @mixin atMedium{
      overflow: hidden;
    }
  }

  &__viewport::-webkit-scrollbar {
    display: none;
  }

  &__slider{
    position: relative;  
    display: flex;
  }

  &__img-row{
    display: flex;
  }

  &__img-box{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    width: max-content;
    height: 30rem;
    padding: 0 2px;
  }

  &__img{
    width: auto;
    height: 100%;
  }

  &__scroll-msg{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem auto 0;
    padding: 2px 1rem;
    height: 2rem;
    width: 100%;
    background-color: $color-secondary-light;
    color: $color-primary-dark;
    font-family: "lato", sans-serif;
    border-radius: 2px;

    @mixin atSmall{
      width: max-content;
    }
    
    &::after{
      font-size: 1.4rem;
      content: "swipe to see more photos"; 
      
      @mixin atMedium {
        content: "click on arrows to scroll through photos";
      }
    }
  }
}