.services {
  padding: 2rem 0;
  background-color: $color-primary-dark;

  &__header {
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: $shadow-text-light;

    @mixin atMedium {
      margin-bottom: 4rem;
    }
  }

  &__header-title {
    margin-bottom: 1rem;
  }

  &__header-text {
    margin-bottom: .6rem;
    font-size: 1.4rem;

    @mixin atSmall {
      font-size: 1.8rem;
    }
  }

  &__panel-row {
    display: flex;
    flex-direction: column;
    align-items: center;

    @mixin atMedium {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  &__panel {
    width: 96%;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: $color-primary-light;
    box-shadow: $shadow-dark-sm;

    @mixin atSmall {
      width: 44rem;
      padding: 2rem;
    }

    @mixin atMedium {
      padding: 2rem 1rem;
      width: 35rem;
      margin-bottom: 4rem;
    }

    @mixin atLarge {
      width: 44rem;
    }
  }

  &__panel-heading {
    margin: 1rem 0 2rem;
    text-align: center;
    font-weight: 700;
  }

  &__panel-sub-heading {
    margin-bottom: 1rem;
    text-indent: $indent;
  }

  &__list {
    margin-bottom: 2.5rem;
  }

  &__item {
    display: flex;
    border-bottom: 1px solid $font-color-dark;
  }

  &__service {
    flex: 1;
    margin-left: 1rem;
  }

  &__price {
    width: 6rem;
    margin-right: 1rem;
    font-family: 'handlee', sans-serif;
    font-size: 1.7rem;
    text-align: left;
  }

  &__disclaimer {
    width: 96%;
    margin: 2rem auto 0;
    padding: 1rem;
    background-color: $font-color-dark;
    box-shadow: $shadow-dark-sm;
    color: $color-primary;
    text-align: center;

    @mixin atSmall {
      width: 44rem;
    }
  }

  &__disclaimer-text {
    font-family: 'handlee', sans-serif;
    line-height: 1.2;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}